 <div class="container">
  <form class="form-horizontal mt-2 mb-2" novalidate [formGroup]="entryForm" (ngSubmit)="save()">
    <div class="form-group row mb-2"
      [ngClass]="{'is-invalid': (entryForm.get('firstName').touched ||
                                entryForm.get('firstName').dirty) &&
                                !entryForm.get('firstName').valid }">
      
      <label class="col-md-2 control-label" for="firstNameId">First Name</label>
      <div class="col-md-10">
          <input class="form-control" formControlName="firstName" type="text" id="firstNameId" placeholder="Enter first name">
          <span class="help-block" *ngIf="(entryForm.get('firstName').touched ||
                                           entryForm.get('firstName').dirty) &&
                                           entryForm.get('firstName').errors">
            <span *ngIf="entryForm.get('firstName').errors.required">
              Please Enter your first Name
            </span>
            <span *ngIf="entryForm.get('firstName').errors.minlength">
                the first name must be longer tha 3 characters
              </span>
          </span>
      </div>
         
    </div>
    <div class="form-group row mb-2">
        <label class="col-md-2 control-label" for="lastNameId">Last Name</label>
        <div class="col-md-10">
            <input class="form-control" formControlName="lastName" type="text" id="lastNameId" placeholder="Enter Your Last Name">
            <span class="help-block" *ngIf="(entryForm.get('lastName').touched ||
                                           entryForm.get('lastName').dirty) &&
                                           entryForm.get('lastName').errors">
            <span *ngIf="entryForm.get('lastName').errors.required">
              Please Enter your Last Name
            </span>
            <span *ngIf="entryForm.get('firstName').errors.minlength">
                the first name must be longer tha 3 characters
              </span>
          </span> 
        </div>     
    </div>

    <div formGroupName="emailGroup"
        [ngClass]="{'has-error': entryForm.get('emailGroup').errors }">
        <!--  email field  -->
        <div class="form-group row mb-2" [ngClass]="{'has-error': (entryForm.controls.emailGroup.controls.email.touched ||
                                                    entryForm.get('emailGroup.email').dirty) &&
                                                    !entryForm.get('emailGroup.email').valid }">
            <label class="col-md-2 control-label" for="emailId">Email</label>
            <div class="col-md-10">
                <input class="form-control" formControlName="email" type="text" placeholder="Enter Your Email">
                <span class="help-block" *ngIf="(entryForm.get('emailGroup.email').touched ||
                                                  entryForm.get('emailGroup.email').dirty) &&
                                                  entryForm.get('emailGroup.email').errors">
                <span *ngIf="entryForm.get('emailGroup.email').errors.required">
                  Please Enter your Email Address
                </span>
                <span *ngIf="entryForm.get('emailGroup.email').errors.pattern">
                    Please enter a valid email address
                  </span>
              </span>
            </div>     
        </div>

        <!--  confirm email field  -->
        <div class="form-group row mb-2"
        [ngClass]="{'has-error': (entryForm.get('emailGroup.confirmEmail').touched ||
                                  entryForm.get('emailGroup.confirmEmail').dirty) &&
                                  !entryForm.get('emailGroup.confirmEmail').valid }">
            <label class="col-md-2 control-label" for="confirmEmailId"> Confirm Email</label>
            <div class="col-md-10">
                 <input class="form-control" formControlName="confirmEmail" type="text" placeholder="Confirm Email (required)">
                <span class="help-block" *ngIf="(entryForm.get('emailGroup.confirmEmail').touched ||
                                              entryForm.get('emailGroup.confirmEmail').dirty) &&
                                              entryForm.get('emailGroup.confirmEmail').errors">
                <span *ngIf="entryForm.get('emailGroup.confirmEmail').errors.required">
                  Please confirm your Email address.
                </span>
              </span>
            </div>     
        </div>
    </div>

    <!--  phone number field  -->
    <div class="form-group row mb-2" [ngClass]="{'has-error': !entryForm.get('phone'.valid) }">
        <label class="col-md-2 control-label" for="phoneId">Phone</label>
        <div class="col-md-10">
            <input class="form-control" formControlName="phone" id="phoneId" type="tel" placeholder="Enter Your Phone Number">
            <span class="help-block" *ngIf="(entryForm.get('phone').touched ||
                                           entryForm.get('phone').dirty) &&
                                           entryForm.get('phone').errors">
            <span *ngIf="entryForm.get('phone').errors.required">
              Please Enter Your Phone Number
            </span>
            <span *ngIf="entryForm.get('phone').errors.minlength">
                the phone number must be longer tha 3 characters
              </span>
          </span> 
        </div>     
    </div>

    <!--  rating field  -->
    <div class="form-group row mb-2" [ngClass]="{'has-error': (entryForm.get('rating').touched ||
                                                              entryForm.get('rating').dirty) &&
                                                              !entryForm.get('rating').valid }">
        <label class="col-md-2 control-label" for="ratingId">Rating</label>
        <div class="col-md-10">
            <input class="form-control" formControlName="rating" id="ratingId" type="number">
            <span class="help-block" *ngIf="(entryForm.get('rating').touched ||
                                           entryForm.get('rating').dirty) &&
                                           entryForm.get('rating').errors">
            <span *ngIf="entryForm.get('rating').errors.range">
              Please rate your experience from 1 to 5.
            </span>
          </span> 
        </div>     
    </div>

    <!--  checkboxes field  -->
    <div class="form-group row mb-2">
        <label class="col-md-2 control-label" for="phoneId">Send Notifications</label>
        <div class="col-md-10">
          <label class="radio-inline">
              <input class="form-control" formControlName="notification" (click)="setNotification('email')" value="email" type="radio" placeholder="Enter Your Phone Number">
              Email
            </label>
            <label class="radio-inline">
                <input class="form-control" formControlName="notification" (click)="setNotification('text')" value="text" type="radio" placeholder="Enter Your Phone Number">
                Text
              </label> 
          </div>     
    </div>

     <div class="form-group">
        <div class="col-md-8">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input"
                       id="sendCatalogId"
                       type="checkbox"
                       > Send me your catalog
              </label>
            </div>
          </div> 
    </div> 
    
    <div class="form-group">
      <div class="">
        <span>
            <button class="btn btn-info" 
            type="submit"
            [disabled]=!entryForm.valid>Save</button>  
        </span>
        <span>
          <button class="btn btn-default" type="button" (click)="populateTestData()">
            Test Data
          </button>
        </span>
      </div>
        
    </div>
    
  </form>
 </div>
 <br>Dirty: {{ entryForm.dirty }}
 <br>Touched: {{ entryForm.touched }}
 <br>Valid: {{ entryForm.valid }}
 <br>Value: {{ entryForm.value | json }}
 
